@tailwind base;
@tailwind components;
@tailwind utilities;


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


/* styles/globals.css أو أي ملف CSS آخر */

/* تأثير التماوج باستخدام Tailwind CSS */
@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  
  .animate-pulse {
    animation: pulse 1.5s infinite;
  }
  

.gm-style-iw {
    display: none;
}

.gm-style-mtc {
    display: none;
}
